.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;

  &__container {
    background-color: var(--bg-dark);
    color: var(--font-color);
    border-radius: 3px;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      background-color: var(--bg-dark);
      border-style: solid;
      border-radius: 3px;
      border-color: var(--green);
      color: var(--font-color);
      margin-bottom: 1rem;
      padding: 0.5rem;
    }

    input:focus {
      outline: 2px solid var(--sapphire);
      border-color: var(--sapphire);
      box-shadow: 0 0 0 2px;
    }

    button {
      padding: 0.25rem;
    }
  }

  &__btn {
    background-color: var(--green);
    color: var(--font-color-dark);
    border-style: none;
    border-radius: 3px;
  }
}

.eye-toggle-btn {
  border: none;
  background-color: transparent;
  margin-left: -1.5rem;
}

.eye-toggle {
  color: var(--green);
}
