:root {
    --font: 'Open Sans', sans-serif;
    --color: white;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: linear-gradient(60deg, #59cbe8, #e93cac);
    font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
    font-weight: bold;
}

p {
    font-family: var(--font);
}

ul {
    list-style-type: none;
}

/* Navbar */
nav {
    background-color: #333;
    color: var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: .25rem;
    }

    li {
        border-radius: 2px;
    }

    li:hover {
        background-color: #777;
    }

    li.active {
        background-color: #777;
    }
}

.logo-link {
    font-size: 2rem;
}

/* Todolist */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    margin-top: 10%;
}

.Todolist {
    min-width: 50%;
}

/* Form */ 
.Form {
    display: flex;
}

.status-select select {
    padding: 1rem;
    margin-left: 0.5rem;
}

.form-input, .form-btn {
   padding: 1rem; 
}

.form-btn {
    margin-left: 0.5rem;
}

/* Todo Item */
.Todo {
    display: flex;
    justify-content: space-between;

    li {
        flex: 1;
        margin-right: 0.25rem;
    }

    button {
        margin: 0 0.25rem;
    }
}
