:root {
  /* variables */
  --font: "Open Sans", sans-serif;
  --font-color: #cdd6f4;
  --font-color-dark: #313244;
  --bg-dark: #1e1e2e;
  --bg-lt-dark: #313244;
  --green: #a6e3a1;
  --sapphire: #74c7ec;
  --cat-surface: #45475a;

  --border-radius: 3px;

  /* font */
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: linear-gradient(60deg, #59cbe8, #e93cac);
  font-family: var(--font);
}

ul {
  list-style-type: none;
}
